<?php
/**
 * Usage:
 * File Name: config.php
 * Author: annhe  
 * Mail: i@annhe.net
 * Created Time: 2017-07-25 11:20:15
 **/


$_config = array();

$_config['debug'] = true;
$_config['onfailimage'] = 'img/failed.jpg';
$_config['ondomainfailimage'] = 'img/domainfailed.jpg';
$_config['phantomjspath'] = '/usr/lib/node_modules/phantomjs2/lib/phantom/bin/phantomjs';
$_config['cachedir'] = 'cache/';
$_config['maxtimeout'] = 10;

$_default = array();
$_default['viewport'] = '1366x768';
$_default['timeout'] = 3;

